/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@use "sass:meta";

html[data-theme="light"] {
  @include meta.load-css("highlight.js/styles/github");
}

html[data-theme="dark"] {
  @include meta.load-css("highlight.js/styles/github-dark");
}

* {
  scrollbar-width: thin;
}

html {
  overflow-y: hidden;
}

:not(pre)>code {
  /* <pre>の外側にある<code>用のスタイル */
  border: 1px solid #ccc;
  padding: 2px 4px;
  margin-inline: 1px;
  border-radius: 4px;
}